<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <style>
    table, th, td, tr {
      padding: 20px;
    }
  </style>
</head>
<body>
  <% if(userId) {%>
    <%-include('partials/_header.ejs')%>
      <table style="padding: 40px">
        <tr>
          <th>ShortURL</th>
          <th>LongURL</th>
          <th>Count Visited</th>
          <th>Date Created</th>
          <th>Unique Visitor Count</th>
        </tr>
        <% for(var url in urls[userId]) { %>
          <form action = "/urls/<%= url %>?_method=DELETE" method = "POST" style = "margin:15px;">
              <tr>
                <td><label for="shortURL"><%= url %></label></td>
                <td><a href = <%= urls[userId][url].longURL %> > <%= urls[userId][url].longURL %></a></td>
                <td><label for="count"><%= urls[userId][url].count %></label></td>
                <td><label for="dateCreated"><%= urls[userId][url].dateCreated %></label></td>
                <td><label for="uniqueVisitors"><%= urls[userId][url].uniqueVisitors.length %></label></td>
                <td><a href = "/urls/<%= url %>/update"> Edit </a></td>
                <td><button type="submit" value="Delete">🗑️</button></td></br>
              </tr>
          </form>
        <% } %>
      </table>
      <h2>
        <a href="/urls/new">Click here to shorten your url!!</a>
      </h2>
  <% } else { %>
    <%-include('partials/_header.ejs')%>
  <% } %>
</body>
</html>